@tailwind base;
@tailwind components;
@tailwind utilities;
html, body{
    height : 100%;
}
.main-container{
    /* margin : 0; */
    padding: 3rem;
    display: flex;
    justify-content: center;
}
.content-container{
    padding : 2rem 2rem 0 2rem;
    margin : 0;
    background-color: white;
}
.margin-down{
    margin-bottom: 2rem;
}
